<!DOCTYPE html>
<html>
<head>
<title>Login</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="js/login.js"></script>
</head>
<body>

<div class="row">
	<form role="form">
	<div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="usernameInput" name="username" ng-model="credentials.username"/>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input class="form-control" id="passwordInput" name="password" ng-model="credentials.password"/>
        </div>
	</form>
</div>
<button type="submit" onclick= "login()" class="btn btn-primary" id="loginSubmit">Uloguj se</button>

<p><a href="register.html" id="registerLink">Registracija</a></p>
</body>
</html>